.adress > h2 {
  @include text(15px, 16px, 400);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $navy_blue;
}

.adress > p {
  @include text(15px, 25px, 400);
  opacity: 0.5;
  color: $navy_blue;
}

.adress__link {
  text-decoration: none;
  opacity: 0.5;
  color: $navy_blue;
}
