.cite > h2 {
  @include text(15px, 16px, 400);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $navy_blue;
  margin-bottom: 30px;
}

.cite__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 65px;
  height: 88px;
}

.cite__item {
  padding-bottom: 4px;
}

.cite__link {
  text-decoration: none;
  opacity: 0.5;
  color: $navy_blue;
  font-family: $text-font;
}
