.contacts {
  display: grid;
  grid-template-columns: 300px 2fr 1fr;
  grid-template-areas:
    "socials cite adress";
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 45px;

  @media (max-width: $pre-desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "socials socials"
      "cite adress";
    padding-bottom: 19px;
    position: relative;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}
