.copyright {
  border-top: 1px solid $border_color_footer;
  padding-top: 14px;
  padding-bottom: 14px;
}

.copyright__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__item {
  @include text(13px, 24px, 400);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $navy_blue;
  opacity: 0.5;
  font-family: $text-font;
}
