.copyright {
  border-top: 1px solid $border_color_footer;
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;

  @media (max-width: $desktop-width) {
    padding-top: 21px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 27px;
  }
}

.copyright__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.copyright__item {
  @include text(13px, 24px, 400);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $navy_blue;
  opacity: 0.5;
  font-family: $text-font;

  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.copyright__item:first-child {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.copyright__item:nth-child(2) {
  padding-left: 74px;

  @media (max-width: $desktop-width) {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: -351px;
    right: 27%;
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: -629px;
    right: 14%;
  }
}

.copyright__item:nth-child(3n+3) {
  padding-left: 139px;

  @media (max-width: $desktop-width) {
    padding-left: 0;
  }
}

.copyright__item:last-child {
  padding-left: 401px;

  @media (max-width: $desktop-width) {
    padding-left: 0;
  }
}
