.form {
  position: relative;
  display: flex;
  flex-direction: row;
}

.form__container {
  padding-top: 61px;
}

.form__container > h2 {
  @include text(36px, 51px, 400);
}

.form__container > p {
  @include text(16px, 22px, 400);
}

.form__footer > button {
  @include text(14px, 16px, 700);
  background-color: transparent;
  color: $basic_white;
  border: 1px solid $basic_white;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  min-height: 45px;
  width: 270px;
  margin-right: 38px;
}

.form__wrapper {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 43px;
}

.form__row > input {
  background-color: $background_color;
  border: none;
  // width: 50%;
  height: 50px;
  padding-left: 17px;
}

.form__row > input::placeholder {
  color: $basic_white;
}

.form__row--question > input {
  min-height: 154px;
  // width: 100%;
  grid-area: ques;
}

.form__row--name > input {
  grid-area: name;
}

.form__row--tel > input {
  grid-area: tel;
}

.form__footer {
  display: flex;
  flex-direction: row;
}

.form__checkbox {
  @include text(14px, 16px, 400);
  opacity: 0.8;
}

.form__checkbox > input {
  background-color: transparent;
  border: 1px solid $basic_white;
  width: 16px;
  height: 16px;
}

.form::before {
  background-image: url("../img/form-plane.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;
  @include pseudo($display: block, $pos: relative, $content: "");
  width: 686px;
  height: 639px;
  right: 200px;
  top: -59px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/form-plane-2x.png");
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}
