.modal__overlay {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: $basic_black;
  opacity: 0.5;
}

.modal__form {
  background-color: $basic_color;
  color: $basic_white;
  padding-top: 9px;
  padding-bottom: 36px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 490px;
  position: absolute;
  top: 136px;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.modal__container > h1 {
  @include text(28px, 39px, 400);
  margin-bottom: 13px;
}

.modal__container > p {
  padding-right: 10px;
  margin-bottom: 38px;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 29px;
}

.modal__row > input {
  background-color: $background_color;
  border: none;
  min-height: 50px;
  padding-left: 22px;
  width: 100%;
  color: $basic_white;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.modal__row > input::placeholder {
  color: $basic_white;
}

.modal__row--question > input {
  min-height: 104px;
  padding-bottom: 59px;
}

.modal__button--submit,
.modal__button--back {
  @include text(14px, 16px, 700);
  background-color: transparent;
  color: $basic_white;
  border: 1px solid $basic_white;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  min-height: 47px;
  min-width: 100%;
  margin-bottom: 35px;
  cursor: pointer;
}

.modal__button--back {
  display: block;
  padding-top: 13px;
  text-decoration: none;
}

.modal__checkbox {
  @include text(14px, 16px, 400);
  opacity: 0.8;
  margin-left: 48px;
  position: relative;
  padding-right: 10px;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.modal__checkbox > input {
  border: 0;
}

.modal__checkbox > label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.modal__checkbox > label::before {
  @include pseudo($display: block, $pos: absolute, $content: "");
  border: 1px solid $basic_white;
  width: 16px;
  height: 16px;
  top: 0;
  left: -49px;
  background-color: transparent;
  outline: none;
}

.modal__checkbox > input:checked + label::after {
  @include pseudo($display: block, $pos: absolute, $content: "");
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 2L3.5 5L8 0.5' stroke='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 8px;
  height: 6px;
  top: 5px;
  left: -44px;
}


.modal__button--close {
  @include pseudo($display: block, $pos: absolute, $content: "");
  border: none;
  width: 25px;
  height: 25px;
  top: 16px;
  right: 25px;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    @include pseudo($display: block, $pos: absolute, $content: "");
    top: 9px;
    right: -4px;
    width: 22.75px;
    height: 1px;
    background-color: $basic_white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
