.site-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;

  @media (max-width: $tablet-width) {
    margin-top: 23px;
  }
}

.site-list__item:not(:first-child) {
  padding-left: 81px;

  @media (max-width: $desktop-width) {
    padding-left: 34px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 24px;
  }
}

.site-list__item {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.site-list__link {
  @include text(16px, 18px, 400);
  text-decoration: none;
  color: $basic_white;
  position: relative;
  display: flex;

  @media (max-width: $desktop-width) {
    font-size: 0;
  }
}

.site-list__img {
  @include pseudo($display: inline-block, $pos: relative, $content: "");
  vertical-align: middle;
  top: 0;
}

.site-list__img--mail {
  left: -136px;
  margin-right: 21px;
}

.site-list__img--tel {
  left: -206px;
  margin-right: -17px;
}
