.site-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-list__item {
  padding-left: 81px;

  @media (max-width: $desktop-width) {
    padding-left: 34px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 24px;
  }
}

.site-list__item svg {
  @media (max-width: $desktop-width) {
    width: 24px;
    height: 24px;
  }
}

.site-list__link {
  @include text(16px, 18px, 400);
  text-decoration: none;
  color: $basic_white;
  padding-left: 15px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}
