.site-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 10px;

  @media (max-width: $tablet-width) {
    margin-top: 23px;
  }
}

.site-list__item:not(:first-child) {
  margin-left: 100px;

  @media (max-width: $desktop-width) {
    padding-left: 34px;
    margin-left: unset;
  }

  @media (max-width: $tablet-width) {
    padding-left: 24px;
  }
}

.site-list__link {
  @include text(16px, 18px, 400);
  text-decoration: none;
  color: $basic_white;
  position: relative;
  display: flex;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    font-size: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.site-list__img {
  @include pseudo($display: inline-block, $pos: relative, $content: "");
  vertical-align: middle;
  top: 0;

  @media (max-width: $desktop-width) {
    top: 3px;
  }

  @media (max-width: $tablet-width) {
    top: 0;
  }
}

.site-list__img--mail {
  left: -136px;
  margin-right: 3px;

  @media (max-width: $desktop-width) {
    width: 25px;
    height: 19px;
    left: 2px;
    margin: 0;
  }
}

.site-list__img--tel {
  left: -206px;
  margin-right: -5px;

  @media (max-width: $desktop-width) {
    width: 24px;
    height: 24px;
    left: 2px;
    margin: 0;
  }
}
