.types {
  background-color: $navy_blue;
  color: $basic_white;
  padding-top: 93px;
  padding-bottom: 127px;
}

.types__wrapper > h2 {
  @include text(36px, 52px, 400);
}

.types__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.types__item{
  position: relative;
  display: block;
}

.types__link {
  text-decoration: none;
}

.types__link > p {
  @include pseudo($display: block, $pos: absolute, $content: "");
  @include text(20px, 30px, 400);
  width: 180px;
  color: $basic_white;
  top: 53px;
  left: 44px;
}

.types__link img {
  opacity: 0.2;
}

.types__link::before {
  @include pseudo($display: inline-block, $pos: absolute, $content: "");
  width: 63px;
  height: 63px;
  background-color: $basic_color;
  bottom: 4px;
  right: 12px;
}

.types__link::after {
  @include pseudo($display: inline-block, $pos: relative, $content: "");
  bottom: 27px;
  right: 39px;
  width: 7.4px;
  height: 7.4px;
  border-top: 1px solid $basic_white;
  border-right: 1px solid $basic_white;
  transform: rotate(45deg);
}
