@import "./normalize";
@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./global";
@import "blocks/container";
@import "blocks/page";
@import "blocks/contacts";
@import "blocks/info";
@import "blocks/form";
@import "blocks/site-list";
@import "blocks/main-nav";
@import "blocks/socials";
@import "blocks/about";
@import "blocks/types";
@import "blocks/adress";
@import "blocks/cite";
@import "blocks/copyright";
@import "blocks/feedback";
@import "blocks/modal";
@import "blocks/button";
@import "blocks/close-button";
