// colors
$basic_color: #00b2ff;
$background_color: #19baff;
$basic_white: #ffffff;
$basic_black: #000000;
$medium_black: #666666;
$navy_blue: #1b2d37;
$basic_grey: #cdcdcd;
$light_grey: #dcdddc;
$border_color: #626962;
$border_color_footer: rgba(98, 105, 98, 0.2);
$medium_grey: #ebebeb;
// fonts
$caption-font: "Roboto Condensed", "Arial", sans-serif;
$text-font: "PT Mono", "Arial", sans-serif;
// Viewports
$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1023px;
$pre-desktop-width: 1439px;
