// colors
$basic_color: #00b2ff;
$background_color: #19baff;
$basic_white: #ffffff;
$basic_black: #000000;
$medium_black: #666666;
$light_blue: #1b2d37;
$basic_grey: #cdcdcd;
$border_color: #626962;
$medium_grey: #EBEBEB;

// $form_text: rgba(28, 28, 28, 0.5);
// $medium_black: #48494d;
// $background_color: #f6f7f9;
// $background_mobile: #f6f6f6;
// $background_video: #131314;
// $grey: rgba(255, 255, 255, 0.2);
// $medium_grey: rgba(255, 255, 255, 0.7);
// $light_grey: rgba(255, 255, 255, 0.8);
// $close_button: rgba(20, 21, 23, 0.2);
// $arrow_color: rgba(44, 46, 63, 0.5);
// fonts
$main-font:"Open Sans", "Arial", sans-serif;
// Viewports
$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1023px;
